<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
  <!-- for linkedin-->
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li class="nav-item" id="home"><a class="nav-link" href="/login/home">HOME</a></li>     
           <li class="nav-item" id="home"><a class="nav-link" href="/login/home/status">STATUS</a></li>
     
          <li class="nav-item" id="home"><a class="nav-link" href="/login/home/issuedbook">ISSUED BOOK</a></li>
          <li class="nav-item" id="home"><a class="nav-link" href="/login/home/comments">COMMENTS</a></li>
          <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
          <li class="nav-item" id="contact"><a class="nav-link" href="/logout">LogOut</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
